@font-face {
    font-family: 'digital-7-mono';
    src: url('font/digital-7-mono.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: rgb(244, 155, 0);
}

.clock {
    background: rgb(228, 238, 215);
    background-image: url(./action.png);
    background-position-x: right;
    box-shadow: 
    4px 4px 6px rgba(0,0,0, 0.3),
    0 0 8px rgba(0,0,0,0.7) inset;
    /* width: 400px; */
    height: 240px;
    display: flex;
    padding: 30px;
    justify-content: center;
    align-items: center;
    border: 10px solid rgb(12, 123, 214);
    border-radius: 10px;
    font-size: 90px;
    font-family: 'digital-7-mono',monospace;
    text-shadow: 0 0 2px rgba(0,0,0, 0.5);
}

.clock .container {
    display: flex;
}

.ampm {
    font-size: 40px;
}

.A1 {
    width: 60px;
    height: 20px;
    background: rgb(244, 155, 0);
    flex: 1;
    border-top-left-radius: 10px;
}

.A2 {
    width: 90px;
    height: 20px;
    background: rgb(205, 130, 0);
    flex: 1;
}

.A3 {
    width: 90px;
    height: 20px;
    background: rgb(244, 155, 0);
    flex: 1;
    border-top-right-radius: 10px;
}

.As {
    width: 230px;
    display: flex;
    position: relative;
    left: 106px;
}

h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(205, 130, 0);
}